<head>
<meta http-equiv="refresh" content="5">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
th {
    text-align: right;
}

#account_table{
	border: none;
}

#no_filter{
	border: 3px solid black;
	font-weight: bold;
	cursor: pointer;
}
#private_filter{
	cursor: pointer;
}
#public_filter{
	cursor: pointer;
}

.public {
	background-color: #FFFF63;

}

.private{
	background-color: #97E739;

}

/* drop down style */
 /* Dropdown Button */
.dropbtn {
	background-color: #3e8e41;
    padding: 5px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
	background-color: #FFFFFF;
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

{% load template_utils %}

</style>
</head>
<table id='account_table'><tr>
	<td id='account_table'><b>Account:</b></td>
	<td id='account_table'>
		<div class="dropdown">
			<button onclick="doDropdown()" class="dropbtn">{{account_name}}</button>
				<div id="myDropdown" class="dropdown-content">
				{% for account in account_list %}
					<a href='/ui/project_details/{{account}}/'>{{account}}</a> 
				{% endfor %}
			</div>
		</div>
	</td>
	<td id='account_table' style= 'padding-left: 20px'><a href="/ui/manage_repos/{{account_name}}">Manage '{{account_name}}' repos</a></td>
	<td id='account_table'>
		{% if is_superuser %}
		<div class="dropdown" style="float: right; padding-left: 20px">
			<button onclick="doAdminDropdown()" class="dropbtn">Admin Tools</button>
			<div id="myAdminDropdown" class="dropdown-content">
				<a href='/ui/manage_users/'>User Management</a>
				<a href='/ui/manage_accounts/'>Account Management</a>
			</div>
		</div>
		{% endif %}
	</td>

</tr>
</table>
<br/>
{% if conflict_dict is not none %}
	<div class="conflictButton"><p style="color:red; font-weight:bold">Image conflicts detected, some images may be missing below: <input type="button" onclick="showConflicts();" value="View Image Conflicts"/></p></div>
	<div class="matrixButton" hidden="True"><input type="button" onclick="showImageMatrix();" value="View Image Matrix"/></div>
{% endif %}

<table class="image_matrix"> <tr><th>Image Filter</th><td class='public' id='public_filter'> Public </td><td class='private' id='private_filter'>Private</td><td id='no_filter'> None </td>
<td> <input type="text" id="image_search" autofocus="autofocus" placeholder="Search by Image Name"> </td>
</tr></table> <br/>
{% if message is not None%}
	<p style="color:green; font-weight:bold">{{message}}</p>
{% endif%}
{% if conflict_dict is not none %}
	<table class="conflict_table" hidden="true"> 
	{% for conflict_repo in conflict_dict %}
		<tr><th style="text-align:left">{{conflict_repo}}</th></tr>
		<tr>
			<th style="text-align:center">Conflict Type</th>
			<th style="text-align:center">Image 1</th>
			<th style="text-align:center">Image 1 ID</th>
			<th style="text-align:center">Image 1 Visibility</th>
			<th style="text-align:center">Image 2</th>
			<th style="text-align:center">Image 2 ID</th>
			<th style="text-align:center">Image 2 Visibility</th>
		</tr>
		{% for conflict in conflict_dict|get_item:conflict_repo %}
			<tr><td style="text-align:center">{{conflict|get_item:"type"}} <img 
			{% if conflict|get_item:"type" == 3 %}
				title="Type 3 - Image1 and image 2 have different names but are the same image."
			{% elif conflict|get_item:"type" == 2 %}
				title = "Type 2 - Image1 and Image2 have the same name and are the same image."
			{% else %}
				title = "Type 1 - Image1 and Image2 have the same name but are different images."
			{% endif %}
			 src="/static/glintwebui/img/red_info_icon.png" style="width:15px;height:15px; float:right;"/>
			</td>
			<td>{{conflict|get_item:"image_one_name"}}</td>
			<td>{{conflict|get_item:"image_one"}}</td>
			<td>{{conflict|get_item:"image_one_visibility"}}</td>
			<td>{{conflict|get_item:"image_two_name"}}</td>
			<td>{{conflict|get_item:"image_two"}}</td>
			<td>{{conflict|get_item:"image_two_visibility"}}</td>
			</tr> 
		{% endfor %}
	{% endfor %}
	</table>
{% endif %}

<div class="image_matrix"><form action="/ui/save_images/{{account_name}}/" method="post">
	{% csrf_token %}
	<table>
		<tr>
			<th/>
		{% for repo in image_dict %}
			<th>{{repo}}</th>
		{% endfor %}
		</tr>
		{% comment %}
			For each image print the image name to begin the row then check the image is
			in each repo dictionary. If it is display it as checked, otherwise display it
			as unchecked. Additionally if it is in the dict as a pending transaction 
			display a note accordingly.
		{% endcomment %}
		{% if image_set is not None %}
			{% for image in image_set %}
				<tr class="image_row"><th> {{image}}</th>
				{% for repo_key, repo_value in image_dict.items %}
					{% with image_id=image_lookup|get_item:repo_key|get_item:image %}
					{% if repo_value|get_item:image_id is not None %}
						{% if repo_value|get_item:image_id|get_item:"state" == "Pending Delete" %}
							<td>Pending Delete<input hidden name="{{repo_key}}" type="checkbox" value="{{image}}"></td>
						{% elif repo_value|get_item:image_id|get_item:"state" == "Pending Transfer" %}
							<td>Pending Transfer<input hidden name="{{repo_key}}" type="checkbox" value="{{image}}" checked></td>
						{% else %}
							<td class='{{repo_value|get_item:image_id|get_item:"visibility"}}'><input name="{{repo_key}}" type="checkbox" value="{{image}}" checked></td>
						{% endif %}
					{% else %}
						<td class=""><input name="{{repo_key}}" type="checkbox" value="{{image}}"></td>
					{% endif %}
					{% endwith %}
				{% endfor %}
				</tr>
			{% endfor %}
		{% endif %}
	</table>
	<input type="submit" value="Save Images" />
<form/></div>



<footer id="footer" style="text-align:center; position: absolute; bottom: 0px; left: 40%">
	<div>
		&copy; University of Victoria  ||  <a href="https://github.com/hep-gc/Glintv2">Visit GitHub Project <i class="icon-hand-up"></i></a>
	</div>
	<div>
		<small class='muted'>Glint-Server v0.0.1</small>
	</div>
</footer>


<script>
$( "#public_filter" ).click(function() {
  $("tr.image_row").filter(function(){
		return $(this).find("td.public").length == 0;
	}).hide();
	$("tr.image_row").filter(function(){
		return $(this).find("td.private").length == 0;
	}).show();
	$("#no_filter").css("font-weight","normal");
	$("#no_filter").css("border","1px solid black");
	$("#private_filter").css("font-weight","normal");
	$("#private_filter").css("border","1px solid black");
	$("#public_filter").css("font-weight","Bold");
	$("#public_filter").css("border","3px solid black");
	var filter = "public";
	localStorage.setItem("filter", filter);
    var $rows = $('.image_row');
    var val = $.trim($('#image_search').val()).replace(/ +/g, ' ').toLowerCase();
    $rows.filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});

$( "#private_filter" ).click(function() {
  $("tr.image_row").filter(function(){
		return $(this).find("td.private").length == 0;
	}).hide();
	$("tr.image_row").filter(function(){
		return $(this).find("td.public").length == 0;
	}).show();
	$("#no_filter").css("font-weight","normal");
	$("#no_filter").css("border","1px solid black");
	$("#private_filter").css("font-weight","Bold");
	$("#private_filter").css("border","3px solid black");
	$("#public_filter").css("font-weight","normal");
	$("#public_filter").css("border","1px solid black");
	var filter = "private";
	localStorage.setItem("filter", filter);
	var $rows = $('.image_row');
    var val = $.trim($('#image_search').val()).replace(/ +/g, ' ').toLowerCase();
    $rows.filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});

$( "#no_filter" ).click(function() {
  $("tr.image_row").filter(function(){
		return $(this).find("td.private").length == 0;
	}).show();
	$("tr.image_row").filter(function(){
		return $(this).find("td.public").length == 0;
	}).show();
	$("#no_filter").css("font-weight","Bold");
	$("#no_filter").css("border","3px solid black");
	$("#private_filter").css("font-weight","normal");
	$("#private_filter").css("border","1px solid black");
	$("#public_filter").css("font-weight","normal");
	$("#public_filter").css("border","1px solid black");
	var filter = "none";
	localStorage.setItem("filter", filter);
	var $rows = $('.image_row');
    var val = $.trim($('#image_search').val()).replace(/ +/g, ' ').toLowerCase();
    $rows.filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});

function showConflicts(){
	$(".image_matrix").hide()
	$(".conflictButton").hide()
	$(".conflict_table").show()
	$(".matrixButton").show()
	localStorage.setItem("displayed_table", "conflicts");
}

function showImageMatrix(){
	$(".conflict_table").hide()
	$(".matrixButton").hide()
	$(".image_matrix").show()
	$(".conflictButton").show()
	localStorage.setItem("displayed_table", "image_matrix");
}

/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function doDropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
}

function doAdminDropdown() {
    document.getElementById("myAdminDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

document.addEventListener('DOMContentLoaded', function() {
    var filter = localStorage.getItem("filter");
    if (filter == "public"){
    	$("tr.image_row").filter(function(){
			return $(this).find("td.public").length == 0;
		}).hide();
		$("tr.image_row").filter(function(){
			return $(this).find("td.private").length == 0;
		}).show();
		$("#no_filter").css("font-weight","normal");
		$("#no_filter").css("border","1px solid black");
		$("#private_filter").css("font-weight","normal");
		$("#private_filter").css("border","1px solid black");
		$("#public_filter").css("font-weight","Bold");
		$("#public_filter").css("border","3px solid black");
    }
    else if (filter == "private"){
	    $("tr.image_row").filter(function(){
			return $(this).find("td.private").length == 0;
		}).hide();
		$("tr.image_row").filter(function(){
			return $(this).find("td.public").length == 0;
		}).show();
		$("#no_filter").css("font-weight","normal");
		$("#no_filter").css("border","1px solid black");
		$("#private_filter").css("font-weight","Bold");
		$("#private_filter").css("border","3px solid black");
		$("#public_filter").css("font-weight","normal");
		$("#public_filter").css("border","1px solid black");
    }
    else{
	    $("tr.image_row").filter(function(){
			return $(this).find("td.private").length == 0;
		}).show();
		$("tr.image_row").filter(function(){
			return $(this).find("td.public").length == 0;
		}).show();
		$("#no_filter").css("font-weight","Bold");
		$("#no_filter").css("border","3px solid black");
		$("#private_filter").css("font-weight","normal");
		$("#private_filter").css("border","1px solid black");
		$("#public_filter").css("font-weight","normal");
		$("#public_filter").css("border","1px solid black");
    }
    var $rows = $('.image_row');
    var val = $.trim($('#image_search').val()).replace(/ +/g, ' ').toLowerCase();
    $rows.filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();

    var displayed_table = localStorage.getItem("displayed_table");
    if(displayed_table == "image_matrix"){
    	showImageMatrix();
    }
    else{
    	showConflicts();
    }
    {% if conflict_dict is none %}
    	showImageMatrix();
    {% endif %}
}, false);



$('#image_search').keyup(function() {
	var filter = localStorage.getItem("filter");
	var $rows = $('.image_row');

	if(filter != "none"){
	    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

	    $rows.show().filter(function() {
	        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
	        return !~text.indexOf(val);
	    }).hide();
	    if (filter == "private"){
	    	$("tr.image_row").filter(function(){
				return $(this).find("td.private").length == 0;
			}).hide();
	    }
	    if (filter == "public"){
	    	$("tr.image_row").filter(function(){
				return $(this).find("td.public").length == 0;
			}).hide();
	    }

	}
	else{
		
		var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

	    $rows.show().filter(function() {
	        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
	        return !~text.indexOf(val);
	    }).hide();
	}
});

</script>



	
