<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
th {
    text-align: right;
}

{% load template_utils %}

</style>

<h1> {{project}} </h1>
<form action="/ui/save_images/{{project}}/" method="post">
	{% csrf_token %}
	<table>
		<tr>
			<th/>
		{% for repo in image_dict %}
			<th>{{repo}}</th>
		{% endfor %}
		</tr>
		{% comment %}
			For each image print the image name to begin the row then check the image is
			in each repo dictionary. If it is display it as checked, otherwise display it
			as unchecked. Additionally if it is in the dict as a pending transaction 
			display a note accordingly.
		{% endcomment %}
		{% if image_set is not None %}
			{% for image in image_set %}
				<tr><th> {{image}}</th>
				{% for repo_key, repo_value in image_dict.items %}
					{% with image_id=image_lookup|get_item:repo_key|get_item:image %}
					{% if repo_value|get_item:image_id is not None %}
						{% if repo_value|get_item:image_id|get_item:"state" == "Pending Delete" %}
							<td>Pending Delete</td>
						{% elif repo_value|get_item:image_id|get_item:"state" == "Pending Transfer" %}
							<td>Pending Transfer</td>
						{% else %}
							<td><input name="{{repo_key}}" type="checkbox" value="{{image}}" checked></td>
						{% endif %}
					{% else %}
						<td><input name="{{repo_key}}" type="checkbox" value="{{image}}"></td>
					{% endif %}
					{% endwith %}
				{% endfor %}
				</tr>
			{% endfor %}
		{% endif %}
	</table>
	<input type="submit" value="Save Images" />
<form/>
<br/>
<a href="/ui/add_repo/{{project}}"><input type="button" value="Add repo to {{project}}"/></a>
